function Ball.new 0
push constant 15
call Memory.alloc 1
pop pointer 0
push argument 0
pop pointer 0
push argument 1
pop pointer 1
push argument 2
pop pointer 2
push argument 3
pop pointer 3
push argument 4
pop pointer 4
push argument 5
pop pointer 5
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 10
push argument 3
push constant 6
sub
pop this 11
push argument 4
pop this 12
push argument 5
push constant 6
sub
pop this 13
push constant 0
pop this 14
call Ball.show 0
pop temp 0
push pointer 0
return
function Ball.dispose 0
push pointer 0
pop argument 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Ball.show 0
push pointer 0
pop argument 0
push constant 1
neg
call Screen.setColor 1
pop temp 0
call Ball.draw 0
pop temp 0
push constant 0
return
function Ball.hide 0
push pointer 0
pop argument 0
push constant 0
call Screen.setColor 1
pop temp 0
call Ball.draw 0
pop temp 0
push constant 0
return
function Ball.draw 0
push pointer 0
pop argument 0
push this 0
push this 1
push this 0
push constant 5
add
push this 1
push constant 5
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Ball.getLeft 0
push pointer 0
pop argument 0
push this 0
return
function Ball.getRight 0
push pointer 0
pop argument 0
push this 0
push constant 5
add
return
function Ball.setDestination 3
push pointer 0
pop argument 0
push argument 13
push this 0
sub
pop this 2
push argument 14
push this 1
sub
pop this 3
push this 2
call Math.abs 1
pop local 0
push this 3
call Math.abs 1
pop local 1
push local 0
push local 1
lt
pop this 7
push this 7
not
if-goto Ball_LOOP_LABEL_0
push local 0
pop local 2
push local 1
pop local 0
push local 2
pop local 1
push this 1
push argument 14
lt
pop this 8
push this 0
push argument 13
lt
pop this 9
goto Ball_LOOP_LABEL_1
label Ball_LOOP_LABEL_0
label Ball_LOOP_LABEL_1
push constant 2
push local 1
call Math.multiply 2
push local 0
sub
pop this 4
push constant 2
push local 1
call Math.multiply 2
pop this 5
push constant 2
push local 1
push local 0
sub
call Math.multiply 2
pop this 6
push constant 0
return
function Ball.move 0
push pointer 0
pop argument 0
call Ball.hide 0
pop temp 0
push this 4
push constant 0
lt
not
if-goto Ball_LOOP_LABEL_2
push this 4
push this 5
add
pop this 4
goto Ball_LOOP_LABEL_3
label Ball_LOOP_LABEL_2
label Ball_LOOP_LABEL_3
push this 8
not
if-goto Ball_LOOP_LABEL_4
push this 7
not
if-goto Ball_LOOP_LABEL_6
push this 1
push constant 4
add
pop this 1
goto Ball_LOOP_LABEL_7
label Ball_LOOP_LABEL_6
label Ball_LOOP_LABEL_7
goto Ball_LOOP_LABEL_5
label Ball_LOOP_LABEL_4
label Ball_LOOP_LABEL_5
push this 0
push this 10
gt
not
not
if-goto Ball_LOOP_LABEL_8
push constant 1
pop this 14
push this 10
pop this 0
goto Ball_LOOP_LABEL_9
label Ball_LOOP_LABEL_8
label Ball_LOOP_LABEL_9
push this 0
push this 11
lt
not
not
if-goto Ball_LOOP_LABEL_10
push constant 2
pop this 14
push this 11
pop this 0
goto Ball_LOOP_LABEL_11
label Ball_LOOP_LABEL_10
label Ball_LOOP_LABEL_11
push this 1
push this 12
gt
not
not
if-goto Ball_LOOP_LABEL_12
push constant 3
pop this 14
push this 12
pop this 1
goto Ball_LOOP_LABEL_13
label Ball_LOOP_LABEL_12
label Ball_LOOP_LABEL_13
push this 1
push this 13
lt
not
not
if-goto Ball_LOOP_LABEL_14
push constant 4
pop this 14
push this 13
pop this 1
goto Ball_LOOP_LABEL_15
label Ball_LOOP_LABEL_14
label Ball_LOOP_LABEL_15
call Ball.show 0
pop temp 0
push this 14
return
function Ball.bounce 5
push pointer 0
pop argument 0
push this 2
push constant 10
call Math.divide 2
pop local 5
push this 3
push constant 10
call Math.divide 2
pop local 6
push argument 17
push constant 0
eq
not
if-goto Ball_LOOP_LABEL_16
push constant 10
pop local 7
goto Ball_LOOP_LABEL_17
label Ball_LOOP_LABEL_16
label Ball_LOOP_LABEL_17
push this 14
push constant 1
eq
not
if-goto Ball_LOOP_LABEL_18
push constant 506
pop local 3
push local 6
push constant 50
neg
call Math.multiply 2
push local 5
call Math.divide 2
pop local 4
push this 1
push local 4
push local 7
call Math.multiply 2
add
pop local 4
goto Ball_LOOP_LABEL_19
label Ball_LOOP_LABEL_18
label Ball_LOOP_LABEL_19
push local 3
push local 4
call Ball.setDestination 2
pop temp 0
push constant 0
return
